:root {
  --color-white: #fff;
  --color-gray-lightest: #f8f9fa;
  --color-gray-light: #d1d2d2;
  --color-gray-dark: #969798;
  --color-gray-darker: #6f7070;
  --color-black: #212122;
  --color-primary-light: #56c0f0;
  --color-primary: #0ea5e9;
  --color-primary-dark: #0b84ba;
  --color-secondary-light: #f05673;
  --color-secondary: #e90e37;
  --color-secondary-dark: #ba0b2c;
  --color-info-light: #6de0fc;
  --color-info: #2fd2fb;
  --color-info-dark: #26a8c9;
  --color-warning-light: #eedf89;
  --color-warning: #e7d156;
  --color-warning-dark: #b9a745;
  --color-success-light: #80e99a;
  --color-success: #4adf6e;
  --color-success-dark: #3bb258;
  --color-error-light: #f18b93;
  --color-error: #eb5964;
  --color-error-dark: #bc4750;
}
